.buttonMenu {
    -fx-text-fill: #dee0ff;
    -fx-background-color:  #234566;
    -fx-border-color:  #0d1a26;
    -fx-border-width: 2;
}

.buttonMenu:hover {
    -fx-background-color: #235075;
    -fx-border-color: #0d1a40;
}

.buttonMenu:pressed{
    -fx-background-color: #17364f;
}

.boxRecent{
    -fx-border-color:  #17202b;
    -fx-border-width:  1 0;
    -fx-background-color:  #212f40;
}

.boxRecent:hover {
    -fx-background-color:  #3d5676;
}

.boxRecent:pressed{
    -fx-background-color: #17364f;
}